.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.youtubeLogo {
  width: 200px;
  height: 200px;
  translate: 10%;
  transform: translateY(20%);
}